$red: #662222
$blue: #0c2433

body
  background-color: #EEE
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif

a.ui-state-hover
  color: red

#main
  width: 850px
  margin: 0 auto
  text-align: center
  color: $red
  font-size: 140%

  #logo
    margin-top: 20px

  #explanation
    text-align: left
    margin-top: 20px
    .blue
      color: $blue

  #small
    text-align: left
    font-size: 60%
    margin-top: 10px
    color: $blue

  #search
    margin-top: 20px
    font-size: 200%

    #startat
      margin-top: -8px

    #start
      margin-top: 40px

      input
        border: 3px solid $blue
        font-size: 100%
        width: 500px
        background-color: #DDD
        margin-top: -10px

  #results
    margin:
      top: 20px
      bottom: 30px
    list-style-type: none
    li
      margin-bottom: 10px
      a
        text-decoration: none
        color: $red
        &.end1
          color: $blue
          font-weight: bold

.bottom
  font-size: 60%
  color: #666


#bottomleft
  position: fixed
  left: 0
  bottom: 0
  padding: 10px
  img
    padding-top: 5px
    width: 100px

#bottomright
  position: fixed
  right: 0
  bottom: 0
  text-align: right
  line-height: 14px
  padding: 10px
  a
    color: #333

#loading
  display: none